html,body{padding:0;margin:0;font-family:Verdana;background:#fff;}
img{border:0;}
h1{font-size:1.65em;font-variant:small-caps;margin:0;}
h3{margin:0;font-size:1.1em;}
blockquote{border-left:3px solid #ccc;color:#777;margin-left:10px;padding-left:10px;}
p{margin-top:0;}
label{display:block;}
input[type="password"], input[type="text"]{padding:5px;width:400px;}
form{width:400px;margin:10px auto;}
form > div{margin-bottom:15px;}

a{color:#004A7F;}
a:focus { outline: none; }
h1 a{color:#222;}
#left a, a.special{text-decoration:none;border:1px solid #f0f0f0;background:#f6f6f6;padding:5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;line-height:30px;}


#site, #header{width:95%;margin:0 auto;}
#header{height:150px;margin-bottom:2px;position:relative;}
#title{font-size:2.5em;position:absolute;top:50px;left:100px;}
#rss{float:right;position:relative;top:10px;}
#content{margin-left:300px;position:relative;}

#left{padding:20px;width:220px;float:left;color:#fff;}
#left.over{color:#444;}
#left li a{text-decoration:none;display:block;padding:5px 0;height:20px;}
#left li a:hover{background:#B3DCFC;color:#444;}
#left ul{margin:0;padding:0;}
#left li{list-style:none;margin:0;padding:0;}
#home{position:absolute;right:0px;}

.date{color:#777;margin-bottom:10px;}
.section{margin-bottom:20px;overflow:auto;}
.summary{font-size:1.4em;color:#555;padding-bottom:20px;}
.body{margin:10px 0 15px 0;padding:25px 0;}
.clear{clear:both;}
.prev{float:left;width:45%;}
.next{float:right;width:45%;text-align:right;}
.attribution{margin-top:50px;font-size:75%;text-align:right;color:#555;}
.attribution a{color:#555;}
.charCounter{font-size:70%;}
a.admin {display:block;padding:4px;border-bottom:1px solid #eee;}
a.admin:hover{background:#eee;}