<p>I'm Karl. A software developer with a passion for technology, learning and quality. I was born in Ottawa, Canada and currently live and work in Hong Kong.</p>

<p>Beyond the projects I work on through <a href="http://github.com/karlseguin">github</a>, here's what I've been up to this year:</p>
<ul>
  <li><a href="http://mogade.com">mogade</a> is the main side project I've been working on. It's written in rails with mongodb.</li>
  <li><a href="http://mongly.com/tutorial/index">mongodb interactive tutorial</a> is a 15 minute interactive tutorial for learning the basics of mongodb</li>
  <li><a href="http://mongly.com/geo/index">mongodb geospatial tutorial</a> is a 55 minute interactive tutorial for learning about mongodb's geospatial capabilities</li>
  <li><a href="http://openmymind.net/mongodb.pdf">the little mongodb book</a> is a free short ebook introducing mongodb.</li>
  <li><a href="http://algorithms.openmymind.net">simple algorithms</a> is a tutorial for basic computer science algorithms, featuring an interactive guide</li>
  <li><a href="http://load.io">load.io</a> is a simple site for tracking hits to resources</li>
  <li><a href="https://github.com/karlseguin/Foundations-of-Programming-2">foundations of programming 2</a> is a follow up to my better <a href="http://foundationsof.com/FoundationsOfProgramming.pdf">foundations of programming</a> book</li>
</ul>